body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family:'Courier New', Courier, monospace;
    color: white;
    padding: 32px;
    background-color: black;
}

.player-panel {
    display: flex;
    font-size: 32px;
    margin-bottom: 77px;
}

.player-panel div {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 32px;
}

.player-panel img {
    height: 50px;
    width: 50px;
    margin-right: 16px;
}

.player-inactive {
    opacity: .5;
}

table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    width: 133px;
    height: 130px;
    border: 5px solid gray;
    position: relative;
    cursor: pointer;
}

td:hover {
    background-color: rgba(85, 85, 85, 0.7);
    opacity: .5;
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 26px;
    left: 28px;
}

.d-none {
    display: none !important;
}

.horizontal-line {
    height: 10px;
    background-color: rgba(128,128,128, 1);
    width: 300px;
    position: absolute;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 5;

}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
}

.table-lines-container {
    position: relative;
}

/* .player-1 {
    color: purple;
}

.player-2 {
    color: turquoise;
} */

.game-over {
    z-index: 10;
    animation: zoomIn 225ms ease-in-out;
}

.restart-button {
    border-radius: 10px;
    background-color: aquamarine;
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 32px;
    margin-top: 32px;
}

.restart-button:hover {
    background-color: turquoise;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 32px;
}

footer a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 11px;
}

footer a:hover {
    color: gray;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-over-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-over-img {
    height: 350px;
}

.winner-img {
    height: 75px;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }

}